<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <nav>
    <a href="/dashboard">Home</a>
    <a href="/hotel/add">Add Hotel</a>
    <a href="/logout">Logout</a>
  </nav>
  <h1>Welcome to Hotel Maniac</h1>
  
  <% for (let hotel of hotels) { %> 
    <div>
      <img src="<%- hotel.image %>" alt="<%- hotel.hotel_name %>" width="100" height="80" />
      <h3><%- hotel.hotel_name %></h3>
      <h5>Uploaded By: <%- hotel.uploader %></h5>
      <h5>Date Posted: <%- hotel.date_posted %></h5>
      <label>Address: <%- hotel.address %></label>
      <p><%- hotel.description %></p>
    </div>
  <% } %> 
</body>
</html>